body {
  background-color: #d0e4fe;
}

.status {
  background-color: lightgrey;
  width: 800px;
  padding: 25px;
  border: 5px solid navy;
  margin: auto;
  text-align: center;
}

.masked_sentence {
  font-size: 50px;
}


.feedback {
  display: -webkit-flex;
  display: flex;
  background-color: lightgrey;
  width: 800px;
  height: 800px;
  padding: 5px;
  border: 5px solid navy;
  margin: auto;
  text-align: center;
}

.sub_feedback {
  background-color: lightgrey;
  width: 800px;
  padding: 5px;
  /* border: 5px solid navy; */
  margin: 5px;
  text-align: center;
}

.debug {
  visibility: hidden;
}

.control {
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center;
}

.button {
  margin: 0 auto;
}
/*
p {
  margin: 0 auto;
}
*/
