<!doctype html>
<html ng-app = "hangmanApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="hangman.css">
  </head>
  <body ng-controller = "hangmanCtrl">
    <div class = status>
      <h1 class = title> Current Masked Sentence</h1>
      <p class = "masked_sentence"> {{masked_sentence}} </p>
      <h1 class = title> Already Guessed </h1>
      <p> {{wrong_guesses}} </p>
      <h1 class = debug> True Sentence</h1>
      <p class = debug> {{true_sentence}} </p>
    </div>
    <div class = "control">
      Input a sentence ID <input type="text" ng-model="sentence_id" ng-init="sentence_id='0'" value="0" >
      <button type="button" ng-click="requestSentence()"> Start a Game </button>
      <br>
      <br>
      <button type="button" ng-disabled = "request_guess_button_disabled" ng-click="requestAIGuess()"> Let AI Guess </button>
      <br>
      <br>
      <input type="text" ng-model="guessed_content" ng-keyup="$event.keyCode == 13 && checkGuess()" placeholder="Enter your guessed character here">
      <br>
      <button type="button" ng-disabled = "check_guess_button_disabled" ng-click="checkGuess()"> Guess </button>
      <br>
    </div>
    <div class = "feedback">
      <div class = "sub_feedback">
        <h1> Human Score: {{human_score}} </h1>
        <p> {{human_feedback}} </p>
      </div>
      <div class = "sub_feedback">
        <h1> Computer Score: {{computer_score}} </h1>
        <p> {{computer_feedback}} </p>
      </div>
    </div>
    <script src = 'game.js'>p</script>
 </body>
</html>
